* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: azure;
}

body{
 background: #000; 
}

#heading{
  text-align: center;
  margin-top: 23px;
}

button{
  color: red;
}

p{
  float:inline-start;
  margin-right: 5px;
}